<tr>
    <td><strong>Full name</strong></td>
    <td><strong>Owner</strong></td>
    <td><strong>Last update</strong></td>
    <td><strong>Url</strong></td>
    <td><strong>License</strong></td>
    <td><strong>Watchers</strong></td>
</tr>
